[report]
omit =
    */authors/apps/__init__.py
    */authors/apps/core/__init__.py
    */authors/apps/core/exceptions.py
    */authors/apps/authentication/__init__.py
    */authors/apps/authentication/migrations/*.py
    */authors/apps/authentication/tests/*.py
    */python?.?/*
    */site-packages/*
    */authors/apps/articles/__init__.py
    */authors/apps/profiles/__init__.py
    manage.py
    */authors/apps/profiles/migrations/*.py
    */authors/apps/profiles/tests/*.py
    */authors/apps/profiles/serializers.py
    */authors/apps/profiles/renderers.py



