@media (max-width: 992px) { 
    .hide{
        display: none;
    }
 }
 @media (min-width: 768px) { 
    .side-column{
        padding-top: 4rem;
    }
 }
img.round-image{
    height: 75px;
    border-radius: 50%;
    width: 75px;
}
i.fas{
    font-size: 1.5em;
    border-bottom: 2px soild #333;
    transition: .5s ease;
}
.fas:hover{
    color: gold;
    opacity: .9;
    transition: .5s ease;
}
.checked{
    color: gold;
}
.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.small-avatar{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.text-large, .fa-star{
    font-size: 1.2em
}
.fa-star:hover{
    color: gold;
    opacity: 0.7;

}
.border-2{
    border-width: 2px !important;
    border-radius: 5%;
}
.font-pattaya{ font-family: 'Pattaya', sans-serif;}
.font-lobster{ font-family: 'Lobster', sans-serif; }
.font-pacifico{ font-family: 'Pacifico', sans-serif; }
.font-permanent-marker{ font-family: 'Permanent Marker', sans-serif; }
.font-satisfy{ font-family: 'Satisfy', sans-serif; }
.font-kodchasan{ font-family: 'Kodchasan', sans-serif; }
.font-poitret-one{ font-family: 'Poiret One', sans-serif; }
.font-exo{ font-family: 'Exo', sans-serif}
.font-barlow{ font-family: 'Barlow'}
.card-text{
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
}
.bg-orange{
    background-color: orange;
}
.jumbotron{
    background-color: #fff;
}
input[type=text]{
    width: 80%;
    border: none;
    border-bottom: 1px solid #444;

}
textarea{
    height: 50rem;
    width: 100%;
    border: 1px solid #999;
    box-shadow: grey 0px 0px 2px;

}