/* nav stuff */
.link-hover{
    color: orange;
    opacity: 0.8;
}
@media (max-width: 992px) { 
    .hide{
        display: none;
    }
 }
 @media (min-width: 768px) { 
    .side-column{
        padding-top: 4rem;
    }
 }
img.round-image{
    height: 75px;
    border-radius: 50%;
    width: 75px;
}
i.fas{
    font-size: 1.5em;
    border-bottom: 2px soild #333;
    transition: .5s ease;
}
.fa-crown:hover{
    color: gold;
    opacity: .9;
    transition: .5s ease;
}
.checked{
    color: gold;
}
.avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.small-avatar{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.text-large, .fa-star{
    font-size: 1.2em
}
.fa-star:hover{
    color: gold;
    opacity: 0.7;

}
.border-2{
    border-width: 2px !important;
    border-radius: 5%;
}
.font-satisfy{ font-family: 'Satisfy', sans-serif; }
.font-raleway{ font-family: 'Raleway'}
.card-text{
    font-family: 'Raleway', sans-serif;
}
.bg-orange{
    background-color:orange	;
}
.jumbotron{
    background-color: #fff;
}
#add-article input[type=text]{
    width: 80%;
    border: none;
    font-weight: 400;
    font-size: 2em;
}
#add-comment input[type=text]{
    border: none;
    border-bottom: 1px solid gray;
    width: 80%;
    padding: 5px;
}
#add-comment-reply input[type=text]{
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    padding: 5px;
}

textarea{
    height: 50rem;
    width: 100%;
    border: none;
}
.save-btn{
    background-color: #fff;
    width: 80px;
    border: 2px solid orange;   
    transition: 0.1s ease; 
    color: orange;
    border-radius: 5px 5px;
}
.save-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}
.width-8{
    width: 70%;
}
.text-orange{
    color: orange;
}
.logo{
    border-right: 2px solid orange;
    color: orange;
}
.logo:hover{
    color: orange;
    opacity: 0.8;
    text-decoration: none;
}
.ave-rating{
    font-size: 150%;
    padding: 2%;
    margin: 2%;
}
